@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  
  /* css for navbar links--------------------------------------------------- */
  
.navBar-shadow{
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
 }

 .custumeAnime::before{
  content: "";
  position: absolute;
  bottom: -2px;
  height: 0.25rem;
  width: 0;
  background: #0208569d;
  border-radius: 2rem;
  transition: width 0.3s ease;
  }
  .custumeAnime:hover:before{
    width: 100%;
  }


     
 /* ----------------------------Service card section ------------------------------------ */
 
.serviceCard {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  background-image: url('/Images/ImageTwo.png');
  background-size: cover;
  background-blend-mode: multiply;
  transition: transform 0.3s ease; /* Use transform for the transition */
  overflow: hidden; /* Ensure that the scaled image doesn't overflow the container */
}

.serviceCard:hover {
  transform: scale(1.1);
}

/* -----------------------------------Newslater section -------------------------------------- */

.newsLater-bg-color{
  background:linear-gradient( 122.1deg, #22103e 32.29%, #391b69 70.55% )
}




  /*----------------------- ------------ gallery section ------------ */

.gallery-top-view{
  background-image: url('/Images/galleryBgImg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
  /* transition: transform 1s ease; */
  animation: bgZoom 3s  ease-in-out infinite;
 }
 
 @keyframes bgZoom {
   0%{
    transform: scale(1.025);
   }
   50%{
     transform: scale(1);
   }
   100%{
     transform: scale(1.025);
   }
 }